{% extends "client/client_header.html" %}
{% block content %}

  <section class="bg-[#819edb] pt-10 text-center text-[#18395d]">
    <h1 class="text-5xl md:text-6xl font-extrabold tracking-wide">
      Tematy prelekcji
    </h1>
    <div class="w-24 h-1 bg-[#18395d] mx-auto mt-4 rounded-full"></div>
  </section>
<section class="bg-[#819edb] py-20">
    <div class="max-w-5xl mx-auto px-6">
      <div class="relative">
        <!-- 1 blok -->
        <div class="relative flex gap-2 md:gap-8 mb-10">
  
          <div class="relative z-10 flex-shrink-0">
            <div class="w-28 h-28 md:w-40 md:h-40 rounded-full overflow-hidden border-4 border-[#18395d] shadow-lg bg-[#5e85b8]">
              <img
                src="static/assets/images/contestants/47 Laura.webp"
                class="w-full h-full object-cover"
              >
            </div>
          </div>
  
          <!-- content -->
          <div class="bg-[#5e85b8] rounded-2xl p-6 shadow-lg flex-1">
            <p class="text-sm font-bold text-[#18395d] mb-2">
                Prelekcja konkursowa
            </p>
  
            <h3 class="text-xl md:text-2xl font-bold text-[#18395d] mb-3">
              Laura Grafińska - "Dlaczego mężczyzna pomylił żonę z kapeluszem?"
            </h3>
  
            <p class="text-gray-800">
                Laura zabierze publiczność w świat neurobiologii i historii słynnego „mężczyzny, który pomylił swoją żonę z kapeluszem”. Pokaże, jak mózg interpretuje obrazy, na czym polegają zaburzenia rozpoznawania oraz jak wygląda diagnostyka pacjentów, którzy widzą świat zupełnie inaczej niż większość z nas.
            </p>
          </div>
  
        </div>

        <div class="relative flex gap-2 md:gap-8 mb-10">
  
            <div class="relative z-10 flex-shrink-0">
              <div class="w-28 h-28 md:w-40 md:h-40 rounded-full overflow-hidden border-4 border-[#18395d] shadow-lg bg-[#5e85b8]">
                <img
                  src="static/assets/images/contestants/48 Wojciech.webp"
                  class="w-full h-full object-cover"
                >
              </div>
            </div>
    
            <!-- content -->
            <div class="bg-[#5e85b8] rounded-2xl p-6 shadow-lg flex-1">
              <p class="text-sm font-bold text-[#18395d] mb-2">
                Prelekcja konkursowa
              </p>
    
              <h3 class="text-xl md:text-2xl font-bold text-[#18395d] mb-3">
                Wojciech Kubik - "Dlaczego jedne dźwięki brzmią dobrze, a inne nie?"
              </h3>
    
              <p class="text-gray-800">
                Wojtek - miłośnik matematyki, muzyki i odkrywania świata pokaże, skąd bierze się „fałsz” w muzyce i jak liczby opisują dźwięk. Podczas wystąpienia wyjaśni zjawisko dysonansu, wykorzystując matematykę, wykresy i przykłady z codzienności, udowadniając, że nawet słuch można opisać wzorami.
             </p>
            </div>
    
          </div>
          <div class="relative flex gap-2 md:gap-8 mb-10">
  
            <div class="relative z-10 flex-shrink-0">
              <div class="w-28 h-28 md:w-40 md:h-40 rounded-full overflow-hidden border-4 border-[#18395d] shadow-lg bg-[#5e85b8]">
                <img
                  src="static/assets/images/contestants/49 Gabriela.webp"
                  class="w-full h-full object-cover"
                >
              </div>
            </div>
    
            <!-- content -->
            <div class="bg-[#5e85b8] rounded-2xl p-6 shadow-lg flex-1">
              <p class="text-sm font-bold text-[#18395d] mb-2">
                Prelekcja konkursowa
              </p>
    
              <h3 class="text-xl md:text-2xl font-bold text-[#18395d] mb-3">
                Gabriela Żuprańska - "Harmonia mózgu"
              </h3>
    
              <p class="text-gray-800">
                Gabrysia opowie o niezwykłej relacji między muzyką a mózgiem. W prezentacji „Harmonia mózgu” pokaże, jak dźwięk jest przetwarzany, czym są fale mózgowe i dlaczego muzyka sprawia ludziom przyjemność. Nie zabraknie też tematów związanych z rehabilitacją neurologiczną i pytania: czy dźwięk można zobaczyć?
                </p>
            </div>
    
          </div>
  
        <!-- 2 blok-->
        <div class="relative flex gap-2 md:gap-8 mb-10">
  
            <div class="relative z-10 flex-shrink-0">
              <div class="w-28 h-28 md:w-40 md:h-40 rounded-full overflow-hidden border-4 border-[#18395d] shadow-lg bg-[#5e85b8]">
                <img
                  src="static/assets/images/contestants/50 Krzysztof.webp"
                  class="w-full h-full object-cover"
                >
              </div>
            </div>
    
            <!-- content -->
            <div class="bg-[#5e85b8] rounded-2xl p-6 shadow-lg flex-1">
              <p class="text-sm font-bold text-[#18395d] mb-2">
                Prelekcja konkursowa
              </p>
    
              <h3 class="text-xl md:text-2xl font-bold text-[#18395d] mb-3">
                Krzysztof Florek - "Badania próbek konsumenckich a geopolityka"
              </h3>
    
              <p class="text-gray-800">
                Krzysztof pokaże, jak wygląda analiza próbek konsumenckich pod kątem zanieczyszczeń, szczególnie metalami ciężkimi. Opowie o metodach badawczych i wyjaśni, jak wyniki takich analiz wpływają na ocenę bezpieczeństwa produktów w różnych regionach świata.
            </p>
            </div>
    
        </div>
  
        <div class="relative flex gap-2 md:gap-8 mb-10">
    
              <div class="relative z-10 flex-shrink-0">
                <div class="w-28 h-28 md:w-40 md:h-40 rounded-full overflow-hidden border-4 border-[#18395d] shadow-lg bg-[#5e85b8]">
                  <img
                    src="static/assets/images/contestants/51 Natalia.webp"
                    class="w-full h-full object-cover"
                  >
                </div>
              </div>
      
              <!-- content -->
              <div class="bg-[#5e85b8] rounded-2xl p-6 shadow-lg flex-1">
                <p class="text-sm font-bold text-[#18395d] mb-2">
                    Prelekcja konkursowa
                </p>
      
                <h3 class="text-xl md:text-2xl font-bold text-[#18395d] mb-3">
                  Natalia Monkiewicz - "Dlaczego twój układ immunologiczny się nie buntuje - i co by się stało gdyby to zrobił?"
                </h3>
      
                <p class="text-gray-800">
                    Natalia przybliży działanie układu immunologicznego i odpowie na pytanie, co mogłoby się stać, gdyby organizm zaczął walczyć sam ze sobą. Jej wystąpienie połączy biologię i medycynę w przystępnej formie.</p>
              </div>
      
        </div>
        <div class="relative flex gap-2 md:gap-8 mb-10">
    
              <div class="relative z-10 flex-shrink-0">
                <div class="w-28 h-28 md:w-40 md:h-40 rounded-full overflow-hidden border-4 border-[#18395d] shadow-lg bg-[#5e85b8]">
                  <img
                    src="static/assets/images/contestants/52 Hanna.webp"
                    class="w-full h-full object-cover"
                  >
                </div>
              </div>
      
              <!-- content -->
              <div class="bg-[#5e85b8] rounded-2xl p-6 shadow-lg flex-1">
                <p class="text-sm font-bold text-[#18395d] mb-2">
                    Prelekcja konkursowa
                </p>
      
                <h3 class="text-xl md:text-2xl font-bold text-[#18395d] mb-3">
                  Hanna Grzybek - "Co łączy śmierć ze śmiechu i szalone krowy?"
                </h3>
      
                <p class="text-gray-800">
                    Hanna opowie o prionach — niezwykłych białkach, które mogą prowadzić do śmiertelnych chorób. Wyjaśni, jak zmieniona struktura białka potrafi wywołać „chorobę szalonych krów”, śmiertelną bezsenność czy inne tajemnicze schorzenia.</p>
              </div>
      
        </div>
        

        <!-- 3 blok-->
        <div class="relative flex gap-2 md:gap-8 mb-10">
  
            <div class="relative z-10 flex-shrink-0">
              <div class="w-28 h-28 md:w-40 md:h-40 rounded-full overflow-hidden border-4 border-[#18395d] shadow-lg bg-[#5e85b8]">
                <img
                  src="static/assets/images/contestants/53 Stanisław.webp"
                  class="w-full h-full object-cover"
                >
              </div>
            </div>
    
            <!-- content -->
            <div class="bg-[#5e85b8] rounded-2xl p-6 shadow-lg flex-1">
              <p class="text-sm font-bold text-[#18395d] mb-2">
                Prelekcja konkursowa
              </p>
    
              <h3 class="text-xl md:text-2xl font-bold text-[#18395d] mb-3">
                Stanisław Matuszewski - "Prąd elektryczny jako ruch cząsteczek elementarnych - czyli wykorzystywanie zjawisk kwantowych w elektrotechnice."
              </h3>
    
              <p class="text-gray-800">
                Stanisław opowie o tym, jak fizyka kwantowa wpływa na działanie codziennych urządzeń, takich jak komputery czy sprzęty AGD. Jako początkujący elektrotechnik pokaże w prosty sposób, jak działają nowoczesne komponenty elektroniczne i dlaczego są one tak niezwykłe.</p>
            </div>
    
        </div>
  
        <div class="relative flex gap-2 md:gap-8 mb-10">
    
              <div class="relative z-10 flex-shrink-0">
                <div class="w-28 h-28 md:w-40 md:h-40 rounded-full overflow-hidden border-4 border-[#18395d] shadow-lg bg-[#5e85b8]">
                  <img
                    src="static/assets/images/contestants/54 Dorota .webp"
                    class="w-full h-full object-cover"
                  >
                </div>
              </div>
      
              <!-- content -->
              <div class="bg-[#5e85b8] rounded-2xl p-6 shadow-lg flex-1">
                <p class="text-sm font-bold text-[#18395d] mb-2">
                    Prelekcja konkursowa
                </p>
      
                <h3 class="text-xl md:text-2xl font-bold text-[#18395d] mb-3">
                  Dorota Słowi - "Psychoza AI - czy chatbot może być Twoim przyjacielem?"
                </h3>
      
                <p class="text-gray-800">
                    Dorota interesuje się ludzkim umysłem, psychologią oraz sztuczną inteligencją. W swojej prelekcji „Psychoza AI – czy chatbot może być Twoim przyjacielem?” poruszy temat wpływu chatbotów na psychikę człowieka i wyjaśni, jak działają modele AI oraz jakie zagrożenia mogą wynikać ze zbyt emocjonalnego podejścia do nich.</p>
              </div>
      
        </div>
        <div class="relative flex gap-2 md:gap-8 mb-10">
    
              <div class="relative z-10 flex-shrink-0">
                <div class="w-28 h-28 md:w-40 md:h-40 rounded-full overflow-hidden border-4 border-[#18395d] shadow-lg bg-[#5e85b8]">
                  <img
                    src="static/assets/images/contestants/55 Małgorzata.webp"
                    class="w-full h-full object-cover"
                  >
                </div>
              </div>
      
              <!-- content -->
              <div class="bg-[#5e85b8] rounded-2xl p-6 shadow-lg flex-1">
                <p class="text-sm font-bold text-[#18395d] mb-2">
                    Prelekcja konkursowa
                </p>
      
                <h3 class="text-xl md:text-2xl font-bold text-[#18395d] mb-3">
                  Małgorzata Narożnik - "InfecSense - platforma niewczesnych opatrunków aktywnych"
                </h3>
      
                <p class="text-gray-800">
                    Małgorzata przedstawi projekt InfecSense – inteligentnego hydrożelu opatrunkowego pomagającego monitorować zakażenia ran. Opowie o procesie tworzenia materiału, jego właściwościach oraz o tym, jak połączenie biologii, chemii i inżynierii materiałowej może wspierać rozwój nowoczesnej medycyny.</p>
              </div>
      
        </div>

        <!-- 4 blok-->
      <div class="relative flex gap-2 md:gap-8 mb-10">
    
        <div class="relative z-10 flex-shrink-0">
          <div class="w-28 h-28 md:w-40 md:h-40 rounded-full overflow-hidden border-4 border-[#18395d] shadow-lg bg-[#5e85b8]">
            <img
              src="static/assets/images/contestants/56 Malina.webp"
              class="w-full h-full object-cover"
            >
          </div>
        </div>

        <!-- content -->
        <div class="bg-[#5e85b8] rounded-2xl p-6 shadow-lg flex-1">
          <p class="text-sm font-bold text-[#18395d] mb-2">
            Prelekcja konkursowa
          </p>

          <h3 class="text-xl md:text-2xl font-bold text-[#18395d] mb-3">
            Malina Graczyk - "Dobranoc czyli dzień dobry - Selekcja pamięci podczas snu"
          </h3>

          <p class="text-gray-800">
            Malina fascynuje się neurobiologią, szczególnie snem, pamięcią i neuroplastycznością. Podczas swojego wystąpienia pokaże, że sen nie jest „wyłączeniem mózgu”, lecz niezwykle ważnym i aktywnym procesem biologicznym.</p>
        </div>

    </div>
    <div class="relative flex gap-2 md:gap-8 mb-10">

        <div class="relative z-10 flex-shrink-0">
          <div class="w-28 h-28 md:w-40 md:h-40 rounded-full overflow-hidden border-4 border-[#18395d] shadow-lg bg-[#5e85b8]">
            <img
              src="static/assets/images/contestants/57 Lilia.webp"
              class="w-full h-full object-cover"
            >
          </div>
        </div>

        <!-- content -->
        <div class="bg-[#5e85b8] rounded-2xl p-6 shadow-lg flex-1">
          <p class="text-sm font-bold text-[#18395d] mb-2">
            Prelekcja konkursowa
          </p>

          <h3 class="text-xl md:text-2xl font-bold text-[#18395d] mb-3">
            Lilia Hrynkiewicz - "Jak księżyc zaprowadzi nas na Marsa?"
          </h3>

          <p class="text-gray-800">
            Lilia, uczennica klasy o profilu matematyczno-fizycznym, interesuje się m.in. astronomią i filozofią. W swojej prelekcji opowie o planach NASA dotyczących przygotowań do misji na Marsa poprzez program Artemis i wykorzystanie Księżyca jako etapu pośredniego.</p>
        </div>

    </div>

        <!-- wykład gościnny -->
        <div class="relative flex gap-2 md:gap-8 mb-10">
    
            <div class="relative z-10 flex-shrink-0">
              <div class="w-28 h-28 md:w-40 md:h-40 rounded-full overflow-hidden border-4 border-[#18395d] shadow-lg bg-[#5e85b8] flex items-center justify-center">
                <img
                    src="static/assets/images/partners/igor siwka.png"
                    class="w-full h-full object-cover scale-[1.2]"
                  >
                  
              </div>
            </div>
    
            <!-- content -->
            <div class="bg-[#5e85b8] rounded-2xl p-6 shadow-lg flex-1">
              <p class="text-sm font-bold text-[#18395d] mb-2">
                  Gościnny wykład chemiczny
              </p>
    
              <h3 class="text-xl md:text-2xl font-bold text-[#18395d] mb-3">
                Igor Siwka - "Efekt motyla w Biedronce - jak kilka gramów chemii zmienia współczesne budownictwo"
              </h3>
    
              <p class="text-gray-800">
                  Pan Igor Siwka - chemik z firmy Izopanel opowie nam o chemii stojącej za pianami PUR/PIR - materiałem bez którego współczesny świat nie mógłby istnieć.</p>
            </div>
    
      </div>
  </section>
  
  {% endblock %}