<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Admin – Gdynia Science Slam</title>
  <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- intl-tel-input stylesheet-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@26.0.6/build/css/intlTelInput.css">
</head>

<body class="bg-[#819edb] text-[#18395d] flex flex-col min-h-screen">

  <!-- NAVBAR -->
  <nav class="site-nav bg-[#5e85b8] shadow-md">
    <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
  
      <!-- LOGO -->
      <div class="site-brand font-bold text-xl max-h-20">
        <a href="/">
          <img class="max-h-20" src="/static/assets/logo.png">
        </a>
      </div>
  
      <!-- DESKTOP MENU -->
      <div class="site-links hidden md:flex space-x-6 items-center">
        {% if admin is defined and admin.is_superadmin %}
        <a href="/admin/manage_votes" class="hover:text-blue-800 font-bold text-lg text-[#18395d]">Zarządzaj głosowaniem</a>
        <a href="/admin/emailsender" class="hover:text-blue-800 font-bold text-lg text-[#18395d]">Wyślij Maile</a>
        <a href="/admin/dashboard" class="hover:text-blue-800 font-bold text-lg text-[#18395d]">Panel główny</a>
        {% endif %}
        <a href="/admin/form-submissions" class="hover:text-blue-800 font-bold text-lg text-[#18395d]">Odpowiedzi formularzy</a>
        {% if admin is defined and admin.is_superadmin %}
        <a href="/registration"
           class="bg-[#18395d] text-[#5e85b8] text-lg font-extrabold px-4 py-2 rounded-full hover:bg-blue-700">
          Rejestracja
        </a>
        {% endif %}
      </div>
  
      <!-- HAMBURGER -->
      <button
        id="menu-btn"
        class="site-menu-toggle md:hidden text-3xl focus:outline-none"
        type="button" aria-label="Otwórz menu" aria-expanded="false" aria-controls="mobile-menu">
        <span aria-hidden="true">☰</span>
      </button>
  
    </div>
  
    <!-- MOBILE MENU -->
    <div
      id="mobile-menu"
      class="site-mobile-menu max-h-0 overflow-hidden transition-all duration-300 md:hidden bg-[#819edb] text-[#18395d]">
        <div class="px-6 space-y-4 py-4">
            {% if admin is defined and admin.is_superadmin %}
          <a href="/admin/manage_votes" class="text-lg block">Zarządzaj głosowaniem</a>
          <a href="/admin/emailsender" class="text-lg block">Wyślij Maile</a>
          <a href="/admin/dashboard" class="text-lg block">Panel główny</a>
            {% endif %}
          <a href="/admin/form-submissions" class="text-lg block">Odpowiedzi formularzy</a>
            {% if admin is defined and admin.is_superadmin %}
          <a href="/registration"
             class="block bg-blue-600 text-white text-center py-2 rounded-full">
            Rejestracja
          </a>
            {% endif %}
        </div>
    </div>
  </nav>

  <main class="flex-grow">
    <div id="toast" class="fixed top-5 right-5 z-50 hidden">
      <div id="toast-content" class="px-6 py-4 rounded-xl shadow-lg text-white font-medium">

      </div>
    </div>
    {% block content %}
    {% endblock %}
  </main>

  <!-- FOOTER -->
  <footer class="site-footer bottom-0 left-0 w-full bg-gray-900 text-gray-300 py-12 text-center">
    <p class="mb-2">📧 gdyniascienceslam@gmail.com</p>
    <p class="mb-2">📍 Gdynia</p>
    <p class="text-sm text-gray-500">© 2026 Gdynia Science Slam</p>
    <p class="text-sm text-gray-500 px-6">Konferencja Gdynia Science Slam jest organizowana przez <a href="https://lo3.gdynia.pl" class="text-blue-600">III Liceum Ogólnokształcące z Oddziałami Dwujęzycznymi im. Marynarki Wojennej RP w Gdyni</a></p>
  </footer>
  <script>
    const menuBtn = document.getElementById('menu-btn');
    const mobileMenu = document.getElementById('mobile-menu');
  
    menuBtn.addEventListener('click', () => {
      if (mobileMenu.classList.contains("max-h-0")){
        mobileMenu.classList.remove("max-h-0");
        mobileMenu.classList.add("max-h-96");
        menuBtn.setAttribute("aria-expanded", "true");
      }else{
        mobileMenu.classList.add("max-h-0");
        mobileMenu.classList.remove("max-h-96");
        menuBtn.setAttribute("aria-expanded", "false");
      }
    });
  </script>
</body>
<style>
/* track color change */
#show_hidden:checked ~ .track {
  background-color: #18395d;
}

/* knob movement */
#show_hidden:checked ~ .track .knob {
  transform: translateX(20px);
}
</style>
</html>
