<section class="min-h-screen flex flex-col">
    <div class="text-lg font-bold mb-4" id="counter">
            Liczba wyników: {{ count }}
          </div>    
    {% for item in data %}
    <div
    class="panel gap-8 items-center bg-white rounded-3xl shadow-xl p-8 mx-auto my-8 w-full">
        <div class="flex justify-between font-bold text-xl mb-4 ">
            <div class="w-4/5  gap-4">
                <span>{{ item.school }}</span>
                <span>{{ item.class_and_profile }}</span>
            </div>
            <div>
            <button
              type="button"
              class="add-email-btn text-4xl font-extrabold text-green-500"
              data-group-id="{{ item.id }}"
            >
              +
            </button>
            </div>
        </div>

        <div class="relative flex flex-row w-full justify-between toggle-btn cursor-pointer"
        data-target="personal_data-{{ loop.index }}">
            <h2 class="text-xl font-bold mb-2">Dane</h2>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 arrow transition-transform duration-300">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
        </div>
        <div id="personal_data-{{ loop.index }}" class="hidden">
            <div class="relative flex flex-row gap-4 mb-1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 shrink-0">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
              </svg>
              
            <div class=" gap-4">
                <span>{{ item.supervisor_name }}</span>
                <span>{{ item.supervisor_surname }}</span>
            </div>
            </div>
            <div class="flex flex-row gap-4 mb-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 shrink-0">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
                  </svg>
                <span>{{ item.class_and_profile }}</span>
            </div>
            <div class="flex flex-row gap-4 mb-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 shrink-0">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                  </svg>
                  
                <span>{{ item.email }}</span>
            </div>
            <div class="flex flex-row gap-4 mb-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                </svg>
                  
                <span class="email-count">{{ item.number_of_added_emails }}</span>/<span>{{ item.number_of_participants }}</span>
            </div>
        </div>
    </div>
    {% endfor %}
    <div id="email-modal" class="hidden flex fixed inset-0 bg-black/50 items-center justify-center">
        <div class="bg-white rounded-2xl p-6 w-[400px] relative">
            <button type="button" id="close-modal" class="absolute top-2 right-3 text-xl font-bold">x</button>

            <h2 class="text-lg font-bold mb-4">Dodaj E-Mail</h2>
            <div class="text-sm text-gray-600 mb-4">
              Aktualna liczba: <span id="modal-email-count">0</span>
            </div>

            <input
                id="email-input"
                type="email"
                class="w-full border rounded-xl p-3 mb-4"
                placeholder="email..."/>

            <div id="modal-error" class="text-red-600 text-sm mb-2 hidden"></div>

            <button
                id="submit-email"
                class="bg-[#18395d] text-white px-4 py-2 rounded-xl w-full"
            > Dodaj </button>
        </div>
    </div>
</section>

<script>
    let activeGroupId = null;

    const modal = document.getElementById("email-modal");
    const input = document.getElementById("email-input");
    const errorBox = document.getElementById("modal-error");

    document.querySelectorAll(".add-email-btn").forEach(btn =>{
        btn.addEventListener("click", () => {
            activeGroupId = btn.dataset.groupId;
            activePanel = btn.closest(".panel");
            const countEl = activePanel.querySelector(".email-count");

            modal.classList.remove("hidden");
            input.value = "";

            document.getElementById("modal-email-count").textContent = countEl ? countEl.textContent : "0";
        });
    });

    document.getElementById("close-modal").addEventListener("click", () => {
        modal.classList.add("hidden");
    });

    modal.addEventListener("click", (e) => {
      if (e.target === modal) {
        modal.classList.add("hidden");
      }
    });

    document.getElementById("submit-email").addEventListener("click", async ()=>{
        const email = input.value;

        errorBox.classList.add("hidden");
        errorBox.textContent = "";

        const formData = new FormData();
        formData.append("email", email);

        const res = await fetch(`/admin/group/${activeGroupId}/add-email`, {
            method: "POST", body: formData,
        });

        const data = await res.json();

        if(!res.ok || data.ok === false) {
            errorBox.textContent = data.error || "Coś poszło nie tak.";
            errorBox.classList.remove("hidden");
            setTimeout(() => {
                errorBox.classList.add("hidden");
            }, 3000);
            return;
        }

        const panelCountEl = activePanel.querySelector(`.email-count`);
        const modalCountEl = document.getElementById("modal-email-count");

        if (data.new_count !== undefined) {
            panelCountEl.textContent = data.new_count;
            modalCountEl.textContent = data.new_count;
        }
        input.value = "";
    });


    
</script>