<section class="min-h-screen flex flex-col">
    <div class="text-lg font-bold mb-4" id="counter">
            Liczba wyników: {{ count }}
          </div>
    {% for item in data %}
    <div
    class="gap-8 items-center bg-white rounded-3xl shadow-xl p-8 mx-auto my-8 w-full">
        <div class="flex justify-between font-bold text-xl mb-4 ">
            <div class="w-4/5  gap-4">
                <span>{{ item.name }}</span>
                <span>{{ item.surname }}</span>
            </div>
            <div class="text-4xl text-gray-600"><form method="post" action="/admin/toggle-hidden/{{ item.id }}" class="toggle-form">
                <input type="hidden" name="tab" value = "{{ tab }}">
                <button type="submit">
                    {% if item.hidden %}
                        <!-- track -->
                        <div for="show_hidden" class="w-11 h-6 bg-green-600 rounded-full relative transition-colors duration-200">
                          <!-- knob -->
                          <div class="absolute top-0.5 left-0.5 w-5 h-5 bg-white rounded-full  translate-x-5 "></div>
                        </div>
                      {% else %}
                        <div for="show_hidden" class="w-11 h-6 bg-red-600 rounded-full relative transition-colors duration-200">
                          <!-- knob -->
                          <div class="absolute top-0.5 left-0.5 w-5 h-5 bg-white rounded-full"></div>
                        </div>
                      {% endif %}
                </button>
                <input type="hidden" name="redirect_url" value="{{ request.url }}">
            </form>
            </div>
        </div>

        <div class="relative flex flex-row w-full justify-between toggle-btn cursor-pointer"
        data-target="personal_data-{{ loop.index }}">
            <h2 class="text-xl font-bold mb-2">Dane osobowe</h2>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 arrow transition-transform duration-300">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
        </div>
        <div id="personal_data-{{ loop.index }}" class="hidden">
            <div class="relative flex flex-row gap-4 mb-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 shrink-0">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0 0 12 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75Z" />
                  </svg>
                <span>{{ item.school }}</span>
            </div>
            <div class="flex flex-row gap-4 mb-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 shrink-0">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
                  </svg>
                <span>{{ item.class_and_profile }}</span>
            </div>
            <div class="flex flex-row gap-4 mb-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 shrink-0">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                </svg>
                <span>{{ item.phone }}</span>
            </div>
            <div class="flex flex-row gap-4 mb-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 shrink-0">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                  </svg>
                  
                <span>{{ item.email }}</span>
            </div>
            <div class="flex flex-row gap-4 mb-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
                  </svg>
                  
                <span>{{ item.is_contestant_close }}</span>
            </div>
        </div>

    </div>
    {% endfor %}

</section>
<script>
    document.addEventListener("click", (e) => {
        const btn = e.target.closest(".toggle-btn");

        if(!btn) return;

        const targetId = btn.dataset.data-target;
        const section = document.getElementById(targetId);
        const arrow = btn.querySelector(".arrow");

        if(!section) return;

        section.classList.toggle("hidden");
        arrow.classList.toggle("rotate-180");
    });

    
    
</script>